In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\sahil\Documents\ineuron\dataset\AgentPerformance.csv')

In [62]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

In [63]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [3]:
df['converted_date']= pd.to_datetime(df['Date'])

In [4]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date'],
      dtype='object')

In [5]:
df['week_number'] = df['converted_date'].dt.week

C:\Users\sahil\AppData\Local\Temp\ipykernel_6732\336318132.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week_number'] = df['converted_date'].dt.week

In [6]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date,week_number
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,2022-07-01,26

In [7]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date', 'week_number'],
      dtype='object')

In [8]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
avg_ratings= (df.groupby(['Agent Name','week_number'])['Average Rating'].sum())/5

In [9]:
avg_ratings.head(200)

Agent Name     week_number
Abhishek       26             0.000
               27             0.000
               28             0.000
               29             0.000
               30             0.000
                              ...
Nandani Gupta  26             1.646
               27             4.438
               28             4.218
               29             4.208
               30             3.032
Name: Average Rating, Length: 200, dtype: float64

In [10]:
#2 .Total working days for each agents 

df[df['Total Chats']>0]['Agent Name'].value_counts()

Shivananda Sonwane        28
Khushboo Priya            26
Boktiar Ahmed Bappy       26
Jawala Prakash            25
Manjunatha A              25
Ayushi Mishra             24
Ishawant Kumar            24
Madhulika G               24
Sanjeev Kumar             23
Nishtha Jain              23
Prerna Singh              22
Shivan K                  22
Rishav Dash               21
Nandani Gupta             21
Deepranjan Gupta          21
Jaydeep Dixit             21
Shubham Sharma            21
Hrisikesh Neogi           21
Maitry                    20
Harikrishnan Shaji        19
Bharath                   19
Mithun S                  18
Mahesh Sarade             18
Aditya_iot                17
Swati                     17
Prabir Kumar Satapathy    17
Prateek _iot              17
Zeeshan                   16
Wasim                     16
Ameya Jain                15
Aravind                   14
Saikumarreddy N           13
Aditya Shinde             12
Sowmiya Sivakumar          9
Jayant Kumar               8
Shiva Srivastava           7
Anirudh                    7
Chaitra K Hiremath         6
Vivek                      5
Muskan Garg                5
Saurabh Shukla             4
Maneesh                    3
Mukesh Rao                 3
Ankitjha                   3
Sandipan Saha              3
Sudhanshu Kumar            2
Mukesh                     2
Anurag Tiwari              2
Suraj S Bilgi              2
Ashad Nasim                2
Hitesh Choudhary           1
Shivan_S                   1
Dibyanshu                  1
Mahak                      1
Samprit                    1
Tarun                      1
Name: Agent Name, dtype: int64

In [11]:
#3. Total query that you hvae taken 

df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [12]:
#4 total Feedback that you have received 

df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [13]:
#5 a agent name who have average rating between 3.5 to 4 

df1 = df.groupby('Agent Name')['Average Rating'].sum()/df[df['Total Chats']>0]['Agent Name'].value_counts()

In [14]:
df1.dropna(inplace= True)

In [15]:
df1

Aditya Shinde             4.500833
Aditya_iot                4.138824
Ameya Jain                4.439333
Anirudh                   2.764286
Ankitjha                  2.666667
Anurag Tiwari             2.750000
Aravind                   4.674286
Ashad Nasim               2.500000
Ayushi Mishra             4.352500
Bharath                   4.711053
Boktiar Ahmed Bappy       4.116923
Chaitra K Hiremath        4.323333
Deepranjan Gupta          4.123810
Dibyanshu                 0.000000
Harikrishnan Shaji        4.167895
Hitesh Choudhary          0.000000
Hrisikesh Neogi           4.480476
Ishawant Kumar            4.429167
Jawala Prakash            4.166400
Jayant Kumar              4.007500
Jaydeep Dixit             4.524286
Khushboo Priya            4.273462
Madhulika G               4.373333
Mahak                     3.000000
Mahesh Sarade             4.000556
Maitry                    4.390500
Maneesh                   1.666667
Manjunatha A              4.313600
Mithun S                  3.931667
Mukesh                    4.645000
Mukesh Rao                2.556667
Muskan Garg               4.274000
Nandani Gupta             4.176667
Nishtha Jain              4.281304
Prabir Kumar Satapathy    4.430000
Prateek _iot              4.302941
Prerna Singh              4.408182
Rishav Dash               4.076667
Saikumarreddy N           4.570000
Samprit                   0.000000
Sandipan Saha             4.290000
Sanjeev Kumar             4.412609
Saurabh Shukla            4.167500
Shiva Srivastava          4.048571
Shivan K                  3.874545
Shivan_S                  4.250000
Shivananda Sonwane        4.535000
Shubham Sharma            4.607619
Sowmiya Sivakumar         4.200000
Sudhanshu Kumar           5.000000
Suraj S Bilgi             4.680000
Swati                     4.277059
Tarun                     1.500000
Vivek                     3.004000
Wasim                     4.500000
Zeeshan                   4.288125
dtype: float64

In [16]:
df1[(df1 > 3.5) & (df1 < 4.5)]

Aditya_iot                4.138824
Ameya Jain                4.439333
Ayushi Mishra             4.352500
Boktiar Ahmed Bappy       4.116923
Chaitra K Hiremath        4.323333
Deepranjan Gupta          4.123810
Harikrishnan Shaji        4.167895
Hrisikesh Neogi           4.480476
Ishawant Kumar            4.429167
Jawala Prakash            4.166400
Jayant Kumar              4.007500
Khushboo Priya            4.273462
Madhulika G               4.373333
Mahesh Sarade             4.000556
Maitry                    4.390500
Manjunatha A              4.313600
Mithun S                  3.931667
Muskan Garg               4.274000
Nandani Gupta             4.176667
Nishtha Jain              4.281304
Prabir Kumar Satapathy    4.430000
Prateek _iot              4.302941
Prerna Singh              4.408182
Rishav Dash               4.076667
Sandipan Saha             4.290000
Sanjeev Kumar             4.412609
Saurabh Shukla            4.167500
Shiva Srivastava          4.048571
Shivan K                  3.874545
Shivan_S                  4.250000
Sowmiya Sivakumar         4.200000
Swati                     4.277059
Zeeshan                   4.288125
dtype: float64

In [17]:
#6 . Agent name who have rating lesss then 3.5 

df1[df1<3.5]

Anirudh             2.764286
Ankitjha            2.666667
Anurag Tiwari       2.750000
Ashad Nasim         2.500000
Dibyanshu           0.000000
Hitesh Choudhary    0.000000
Mahak               3.000000
Maneesh             1.666667
Mukesh Rao          2.556667
Samprit             0.000000
Tarun               1.500000
Vivek               3.004000
dtype: float64

In [18]:
# 7 . agent name who have rating more then 4.5 
df1[df1>4.5]

Aditya Shinde         4.500833
Aravind               4.674286
Bharath               4.711053
Jaydeep Dixit         4.524286
Mukesh                4.645000
Saikumarreddy N       4.570000
Shivananda Sonwane    4.535000
Shubham Sharma        4.607619
Sudhanshu Kumar       5.000000
Suraj S Bilgi         4.680000
dtype: float64

In [19]:
#8 . how many feedaback agents have received more then 4.5 average

# getting ratings more than 4.5
df2= df[df['Average Rating']>4.5]

In [20]:
# adding total number of feedbacks that are more than 4.5
df2.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

In [21]:
df3 = pd.read_csv(r'C:\Users\sahil\Documents\ineuron\dataset\AgentLogingReport.csv')

In [29]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date', 'week_number'],
      dtype='object')

In [ ]:
## df['Average Response Time'] = datetime.strftime("%H:%M:%S")(df['Average Response Time'])

In [30]:
#9 . average weekly response time for each agent 
df.dtypes

SL No                               int64
Date                               object
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                      int64
converted_date             datetime64[ns]
week_number                         int64
dtype: object

In [33]:
df['Average_res_time_min'] = pd.to_datetime(df['Average Response Time'], format ='%H:%M:%S').dt.minute

In [37]:
df.groupby('Agent Name')['Average_res_time_min'].mean()

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    0.333333
Aditya_iot       0.200000
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            0.133333
Wasim            0.200000
Zeeshan          0.733333
Name: Average_res_time_min, Length: 70, dtype: float64

In [45]:
# 10. Average weekly resolution time for each agent

df['Average_Resolution_Time_min'] =pd.to_datetime(df['Average Resolution Time'], format ='%H:%M:%S').dt.minute

In [46]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date', 'week_number', 'Average_res_time_min',
       'Average_Resolution_Time_min'],
      dtype='object')

In [47]:
df.groupby(['Agent Name','week_number'])['Average_Resolution_Time_min'].mean().sort_values(ascending = False)

Agent Name          week_number
Deepranjan Gupta    27             25.428571
Khushboo Priya      27             23.428571
Shivananda Sonwane  30             23.166667
Aditya Shinde       28             22.285714
Shivananda Sonwane  26             21.666667
                                     ...
Maneesh             28              0.000000
                    29              0.000000
                    30              0.000000
Abhishek            27              0.000000
Mithun S            26              0.000000
Name: Average_Resolution_Time_min, Length: 350, dtype: float64

In [39]:
df.dtypes

SL No                               int64
Date                               object
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time    datetime64[ns]
Average Rating                    float64
Total Feedback                      int64
converted_date             datetime64[ns]
week_number                         int64
Average_res_time_min                int64
dtype: object

In [25]:
#11 . list of all agents name 
[df['Agent Name']]

[0             Prerna Singh
 1            Nandani Gupta
 2               Ameya Jain
 3            Mahesh Sarade
 4                   Swati
                ...
 2155     Sowmiya Sivakumar
 2156               Nitin M
 2157                Vivek
 2158         Ayushi Mishra
 2159    Chaitra K Hiremath
 Name: Agent Name, Length: 2160, dtype: object]

In [87]:
#12 . percentage of chat on which they have received a feedback 
a= df.groupby('Agent Name')['Total Chats'].sum()

In [88]:
b = df.groupby('Agent Name')['Total Feedback'].sum()

In [89]:
c = (b/a)*100

In [90]:
c.dropna()

Agent Name
Aditya Shinde              55.234657
Aditya_iot                 56.709957
Ameya Jain                 70.807453
Anirudh                    48.148148
Ankitjha                   60.000000
Anurag Tiwari              75.000000
Aravind                    63.661202
Ashad Nasim                50.000000
Ayushi Mishra              64.007782
Bharath                    66.937669
Boktiar Ahmed Bappy        68.805310
Chaitra K Hiremath         57.812500
Deepranjan Gupta           63.286004
Dibyanshu                   0.000000
Harikrishnan Shaji         60.629921
Hitesh Choudhary            0.000000
Hrisikesh Neogi            63.494810
Ishawant Kumar             59.763314
Jawala Prakash             56.947608
Jayant Kumar               55.118110
Jaydeep Dixit              59.570312
Khushboo Priya             64.798206
Madhulika G                59.914712
Mahak                      71.428571
Mahesh Sarade              59.340659
Maitry                     64.022140
Maneesh                    75.000000
Manjunatha A               61.501211
Mithun S                   72.365805
Mukesh                     89.473684
Mukesh Rao                100.000000
Muskan Garg                66.071429
Nandani Gupta              55.000000
Nishtha Jain               68.900804
Prabir Kumar Satapathy     74.247492
Prateek _iot               56.315789
Prerna Singh               58.603491
Rishav Dash                64.547677
Saikumarreddy N            79.670330
Samprit                     0.000000
Sandipan Saha              60.000000
Sanjeev Kumar              61.341223
Saurabh Shukla             50.000000
Shiva Srivastava           86.792453
Shivan K                   68.067227
Shivan_S                   57.142857
Shivananda Sonwane         59.637188
Shubham Sharma             58.823529
Sowmiya Sivakumar          68.446602
Sudhanshu Kumar           100.000000
Suraj S Bilgi              53.571429
Swati                      57.633588
Tarun                      27.272727
Vivek                      45.454545
Wasim                      65.588915
Zeeshan                    61.808118
dtype: float64

In [ ]:
df.head()

In [49]:
#13 . Total contributation hour for each and every agents weekly basis 
df_login = pd.read_csv(r'C:\Users\sahil\Documents\ineuron\dataset\AgentLogingReport.csv')

In [50]:
df_login.head()

   SL No               Agent       Date Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
1      2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
2      3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
4      5              Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

In [51]:
df_login.dtypes

SL No           int64
Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

In [52]:
df_login['converted_date'] = pd.to_datetime(df_login['Date'])

In [54]:
df_login['week_number'] = df_login['converted_date'].dt.week

C:\Users\sahil\AppData\Local\Temp\ipykernel_6732\2247496842.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_login['week_number'] = df_login['converted_date'].dt.week

In [74]:
df_login

,SL No,Agent,Date,Login Time,Logout Time,Duration,converted_date,hours_contribution,week_number
0,1,Shivananda Sonwane,30-Jul-22,15:35:29,17:39:39,02:04:10,2022-07-30,2,30
1,2,Khushboo Priya,30-Jul-22,15:06:59,15:07:16,00:00:17,2022-07-30,0,30
2,3,Nandani Gupta,30-Jul-22,15:04:24,17:31:07,02:26:42,2022-07-30,2,30
3,4,Hrisikesh Neogi,30-Jul-22,14:34:29,15:19:35,00:45:06,2022-07-30,0,30
4,5,Mukesh,30-Jul-22,14:03:15,15:11:52,01:08:36,2022-07-30,1,30
...,...,...,...,...,...,...,...,...,...
993,994,Sowmiya Sivakumar,20-Jul-22,09:04:06,16:01:53,06:57:47,2022-07-20,6,29
994,995,Aravind,20-Jul-22,09:03:51,15:15:46,06:11:55,2022-07-20,6,29
995,996,Manjunatha A,20-Jul-22,09:03:51,15:02:28,05:58:37,2022-07-20,5,29
996,997,Bharath,20-Jul-22,09:00:49,15:01:32,06:00:43,2022-07-20,6,29
997,998,Khushboo Priya,20-Jul-22,08:59:20,14:26:55,05:27:34,2022-07-20,5,29

In [65]:
df_login.shape

(998, 9)

In [64]:
df_login = df_login.iloc[:998,:]

In [69]:
df_login.drop(axis=0,index=557, inplace=True)

In [70]:
df_login[df_login['Duration'] == '24:09:54']

Empty DataFrame
Columns: [SL No, Agent, Date, Login Time, Logout Time, Duration, converted_date, hours_contribution, week_number]
Index: []

In [71]:
df_login['hours_contribution'] = pd.to_datetime(df_login['Duration'], format='%H:%M:%S').dt.hour

In [73]:
df_login.groupby(['Agent','week_number'])['hours_contribution'].sum().sort_values(ascending = False)

Agent               week_number
Deepranjan Gupta    30             49
                    29             40
Chaitra K Hiremath  30             29
Mithun S            30             26
Harikrishnan Shaji  30             26
                                   ..
Anurag Tiwari       29              0
Hyder Abbas         29              0
                    30              0
Nitin M             29              0
Aditya Shinde       30              0
Name: hours_contribution, Length: 88, dtype: int64

In [75]:
#14. total percentage of active hours for a month in week



ab = df_login['hours_contribution'].sum()

In [77]:
ab

1360

In [78]:
(df_login['hours_contribution']/df_login['hours_contribution'].sum())*100

0      0.147059
1      0.000000
2      0.147059
3      0.000000
4      0.073529
         ...
993    0.441176
994    0.441176
995    0.367647
996    0.441176
997    0.367647
Name: hours_contribution, Length: 997, dtype: float64