In [1]:
import pandas as pd

1. Read this dataset in pandas , mysql and mongodb

In [4]:
# reading data in pandas
df = pd.read_csv(r'C:\Users\sahil\Documents\ineuron\dataset\FitBitdata.csv')

In [5]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [ ]:
#pip install mysql-connector-python

In [6]:
import mysql.connector as conn

In [3]:
mydb = conn.connect(host = "localhost", user="root", password="NEWlife123!")

In [4]:
cursor = mydb.cursor()

In [ ]:
cursor.execute("show databases")

In [ ]:
print(cursor.fetchall())

In [8]:
cursor.execute("create database pandastask1")

In [9]:
cursor.execute("use pandastask1")

In [10]:
cursor.execute("show databases")

In [11]:
print(cursor.fetchall())

[('dress',), ('information_schema',), ('mysql',), ('pandastask',), ('pandastask1',), ('performance_schema',), ('sahil',), ('sys',)]

In [7]:
mydb1 = conn.connect(host='localhost', user='root', password='NEWlife123!', database='pandastask1')

In [8]:
cursor1= mydb1.cursor()

In [9]:
pip install csvkit

Requirement already satisfied: csvkit in c:\users\sahil\anaconda3\lib\site-packages (1.0.7)
Requirement already satisfied: agate-sql>=0.5.3 in c:\users\sahil\anaconda3\lib\site-packages (from csvkit) (0.5.8)
Requirement already satisfied: agate>=1.6.1 in c:\users\sahil\anaconda3\lib\site-packages (from csvkit) (1.6.3)
Requirement already satisfied: six>=1.6.1 in c:\users\sahil\anaconda3\lib\site-packages (from csvkit) (1.16.0)
Requirement already satisfied: agate-dbf>=0.2.2 in c:\users\sahil\anaconda3\lib\site-packages (from csvkit) (0.2.2)
Requirement already satisfied: agate-excel>=0.2.2 in c:\users\sahil\anaconda3\lib\site-packages (from csvkit) (0.2.5)
Requirement already satisfied: isodate>=0.5.4 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.6.1)
Requirement already satisfied: Babel>=2.0 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Requirement already satisfied: parsedatetime!=2.5,!=2.6,>=2.1 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.4)
Requirement already satisfied: leather>=0.3.2 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.3.4)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Requirement already satisfied: pytimeparse>=1.1.5 in c:\users\sahil\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (1.1.8)
Requirement already satisfied: dbfread>=2.0.5 in c:\users\sahil\anaconda3\lib\site-packages (from agate-dbf>=0.2.2->csvkit) (2.0.7)
Requirement already satisfied: xlrd>=0.9.4 in c:\users\sahil\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: olefile in c:\users\sahil\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: openpyxl>=2.3.0 in c:\users\sahil\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: sqlalchemy>=1.0.8 in c:\users\sahil\anaconda3\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.4.32)
Requirement already satisfied: pytz>=2015.7 in c:\users\sahil\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in c:\users\sahil\anaconda3\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in c:\users\sahil\anaconda3\lib\site-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.18.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\sahil\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sahil\anaconda3\lib\site-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import csvkit as cs

In [12]:
# Bulk loading the data using csvkit to mysql 
!csvsql --db mysql://root:NEWlife123!@localhost:3306/pandastask --insert C:/Users/sahil/Documents/ineuron/dataset/FitBitdata.csv

C:\Users\sahil\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x1b3a5aa4700>
C:\Users\sahil\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\sahil\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\sahil\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [13]:
cursor1.execute("select * from pandastask.fitbitdata")

In [ ]:
for i in cursor1.fetchall():
    print(i)

In [15]:
cursor1.execute("show databases")

In [16]:
print(cursor1.fetchall())

[('dress',), ('information_schema',), ('mysql',), ('pandastask',), ('pandastask1',), ('performance_schema',), ('sahil',), ('sys',)]

In [134]:
# Uploading the data in mongodb

import pymongo
import json

In [128]:
df.to_json('fitbit.json')

In [129]:
pwd

'C:\\Users\\sahil\\Documents\\ineuron\\ineuron code'

In [131]:
fitbit1 = pd.read_json(r"C:\Users\sahil\Documents\ineuron\ineuron code\fitbit.json")

In [135]:
client = pymongo.MongoClient("mongodb+srv://sahil5723:NEWlife123@cluster0.1bbad.mongodb.net/?retryWrites=true&w=majority")
db = client.test

with open(r"C:\Users\sahil\Documents\ineuron\ineuron code\fitbit.json") as file:
    data = [(json.load(file))]

database  = client['fitbit'] # database name
collection = database['fitbit'] # creating document
collection.insert_many(data)

In [ ]:
#3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [124]:
df['ActivityDateconverted']= pd.to_datetime(df['ActivityDate'])

In [22]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'ActivityDateconverted'],
      dtype='object')

In [23]:
df.dtypes

Id                                   int64
ActivityDate                        object
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
ActivityDateconverted       datetime64[ns]
dtype: object

In [24]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'ActivityDateconverted'],
      dtype='object')

In [36]:
#4 . Find out in this data that how many unique id's we have
len(df['Id'].unique())

35

In [38]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDateconverted
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29

In [65]:
##5 . which id is one of the active id that you have in whole dataset 
# Assuming person who have walked the most is most active
(df.groupby('Id')['TotalDistance'].sum()).sort_values(ascending= False).head(1)

Id
8877689391    169.089998
Name: TotalDistance, dtype: float64

In [71]:
# 6 . how many of them have not logged there activity find out in terms of number of ids 

logged = df[df['LoggedActivitiesDistance'] !=0]['Id'].unique()

In [72]:
len(logged)

6

In [77]:
#7 . Find out who is the laziest person id that we have in dataset

# Assuming person with least steps to be the laziest person
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending = True).head(1)

Id
4388161847    0
Name: TotalSteps, dtype: int64

In [78]:
# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

# suppose burning 1800 calories is health person

def healthychecker(a):
    if a > 1800:
        return True
    else:
        return False

In [87]:
# Total healthy persons
len(df[df['Calories'].apply(healthychecker)]['Id'].unique())

32

In [88]:
#9. how many person are not a regular person with respect to activity try to find out those 

df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDateconverted,sumtotaldistance
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,NaN
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,NaN
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,NaN
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,NaN
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,NaN

In [94]:
len(df['ActivityDateconverted'].unique())

32

In [103]:
df3= pd.DataFrame(df.groupby('Id').count()['ActivityDate'])

In [113]:
df3.rename(columns = {'ActivityDate' :"Totalactivedays"}, inplace = True)

In [114]:
df3.columns

Index(['Totalactivedays'], dtype='object')

In [110]:
def Regularcheck(a):
    if a >14:
        return 'Regular'
    else:
        return 'Irregular'

In [115]:
df3['Regularity'] = df3['Totalactivedays'].apply(Regularcheck)

In [116]:
df3.head()

            Totalactivedays Regularity
Id
1503960366               19    Regular
1624580081               19    Regular
1644430081               10  Irregular
1844505072               12  Irregular
1927972279               12  Irregular

In [118]:
df3['Regularity'].value_counts()

Irregular    28
Regular       7
Name: Regularity, dtype: int64

In [121]:
#10 who is the third most active person in this dataset find out those in pandas
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending = False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [122]:
#11 . who is the 5th most laziest person avilable in dataset find it out

df.groupby('Id')['TotalSteps'].sum().sort_values(ascending = True).head(5)

Id
4388161847        0
2891001357     6189
6391747486    12032
6290855005    16181
8583815059    24364
Name: TotalSteps, dtype: int64

In [123]:
#12 . what is a totla acumulative calories burn for a person find out 

df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64